<div class="uk-container uk-container-center buy-before">
    <h2>До меня купили в интернет-магазине ESMAG</h2>
    <div class="uk-grid uk-grid-collapse">
        <div class="uk-width-1-1 uk-width-medium-1-3 buy-before__cont">
            <div class="buy-before__item">
                <a class="product" href="#">
                    <div class="product__date">Сегодян | 14:53</div>
                    <div class="uk-grid">
                        <div class="uk-width-1-3">
                            <img src="/images/temp/good-1.png" alt="" class="product__image">
                        </div>
                        <div class="uk-width-2-3">
                            <div class="product__name">
                                Радиатор биметаллический Revolution Bimetall 500 Royal Thermo
                            </div>
                            <div class="product__price">
                                2840 <span class="rub product__price-rub"></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="uk-width-1-1 uk-width-medium-1-3 buy-before__cont">
            <div class="buy-before__item">
                <a class="product" href="#">
                    <div class="product__date">Сегодян | 14:53</div>
                    <div class="uk-grid">
                        <div class="uk-width-1-3">
                            <img src="/images/temp/good-1.png" alt="" class="product__image">
                        </div>
                        <div class="uk-width-2-3">
                            <div class="product__name">
                                Радиатор биметаллический
                            </div>
                            <div class="product__price">
                                2840 <span class="rub product__price-rub"></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="uk-width-1-1 uk-width-medium-1-3 buy-before__cont">
            <div class="buy-before__item">
                <a class="product" href="#">
                    <div class="product__date">Сегодян | 14:53</div>
                    <div class="uk-grid">
                        <div class="uk-width-1-3">
                            <img src="/images/temp/good-1.png" alt="" class="product__image">
                        </div>
                        <div class="uk-width-2-3">
                            <div class="product__name">
                                Радиатор биметаллический Revolution Bimetall 500 Royal Thermo
                            </div>
                            <div class="product__price">
                                2840 <span class="rub product__price-rub"></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>