<div class="fixed">
    <a href="/compare.html" class="fixed__item fixed__item--compare">
        <div class="fixed__title">
            Сравнение <span>10</span>
        </div>
    </a>
    <div class="fixed__item fixed__item--cart">
        <a href="/cart.html" class="fixed__title">
            <i class="uk-icon-shopping-cart"></i> Корзина <span>5</span>
        </a>
        <div class="fixed__content">
            <a href="#" class="fixed__c-remove-all">Убрать все</a>
            <div class="fixed__c-title">Ваш заказ</div>
            <div class="fixed__c-content">
                <div class="fixed__c-item">
                    <div class="uk-grid uk-grid-xsmall">
                        <div class="uk-width-5-10 fixed__c-name-cont">
                            <a href="#" class="fixed__c-name">Тумба под мойку 50х50 белая Домино Тумба под мойку 50х50 белая Домино</a>
                        </div>
                        <div class="uk-width-2-10">
                            <input type="number" value="1" class="fixed__c-input">
                        </div>
                        <div class="uk-width-3-10">
                            <div class="fixed__c-price">1162 <span class="rub"></span> <i class="uk-icon-times-circle fixed__c-remove"></i></div>
                        </div>
                    </div>
                </div>
                <div class="fixed__c-item">
                    <div class="uk-grid uk-grid-xsmall">
                        <div class="uk-width-5-10 fixed__c-name-cont">
                            <a href="#" class="fixed__c-name">Тумба под мойку 50х50 белая Домино Тумба под мойку 50х50 белая Домино</a>
                        </div>
                        <div class="uk-width-2-10">
                            <input type="number" value="1" class="fixed__c-input">
                        </div>
                        <div class="uk-width-3-10">
                            <div class="fixed__c-price">1162 <span class="rub"></span> <i class="uk-icon-times-circle fixed__c-remove"></i></div>
                        </div>
                    </div>
                </div>
                <div class="fixed__c-item">
                    <div class="uk-grid uk-grid-xsmall">
                        <div class="uk-width-5-10 fixed__c-name-cont">
                            <a href="#" class="fixed__c-name">Тумба под мойку 50х50 белая Домино Тумба под мойку 50х50 белая Домино</a>
                        </div>
                        <div class="uk-width-2-10">
                            <input type="number" value="1" class="fixed__c-input">
                        </div>
                        <div class="uk-width-3-10">
                            <div class="fixed__c-price">1162 <span class="rub"></span> <i class="uk-icon-times-circle fixed__c-remove"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed__c-itog">
                Всего на сумму:
                <div class="fixed__c-price">1162 <span class="rub"></span></div>
                <a href="/cart.html" class="uk-button btn--rounded btn--white btn--small btn--xrounded fixed__c-order">Оформить</a>
            </div>
        </div>
    </div>
</div>

