<header class="header">
    <div class="uk-container-full uk-container-center">
        <div class="uk-grid">
            <div class="uk-width-1-1 uk-width-medium-2-10 uk-text-center-small">
                <a href="/"><img src="/images/logo.png" alt="Esmag" class="header__logo"></a>
            </div>
            <div class="uk-width-1-1 uk-width-medium-6-10 header__nav-cont" id="header-nav-cont">

                <ul class="header__nav">
                    <li class="header__nav-item"><a href="/discounts.html" class="header__nav-link is-active">Акции</a></li>
                    <li class="header__nav-item"><a href="/brands.html" class="header__nav-link">Бренды</a></li>
                    <li class="header__nav-item"><a href="/deliv.html" class="header__nav-link">Доставка</a></li>
                    <li class="header__nav-item"><a href="/about.html" class="header__nav-link">О нас</a></li>
                    <li class="header__nav-item"><a href="/vac.html" class="header__nav-link">Вакансии</a></li>
                    <li class="header__nav-item"><a href="#modal-contacts" data-uk-modal class="header__nav-link">Контакты</a></li>
                    <li class="header__nav-item"><a href="#modal-message" data-uk-modal class="header__nav-link">Письмо директору</a></li>
                </ul>
                <div class="header__search">
                    <form action="/" method="get">
                        <input type="text" name="search"  class="header__search-input" placeholder="107854 - товаров в каталоге">
                        <button type="submit" class="header__search-submit uk-button btn btn--red btn--rounded">Искать</button>
                    </form>
                </div>
            </div>
            <div class="uk-width-1-1 uk-width-medium-2-10 uk-text-right uk-text-center-small">
                <div class="header__city">
                    <a href="#modal-city" data-uk-modal="" class="header__city-link">Екатеринбург</a>
                </div>
                <div class="header__phone">+7 (343) <b>389 98 98</b></div>
            </div>
            <div class="uk-width-1-10 uk-visible-small uk-text-center header__nav-cell">
                <span class="header__navbar-toggle uk-visible-small js-navbar-toggle"></span>
            </div>
        </div>
    </div>

</header>