<div class="uk-container uk-container-center">
    <h2>Популярные категории интернет-магазина:</h2>
    <div class="uk-grid popular">
        <div class=" uk-width-1-2 uk-width-medium-1-5 uk-width-xlarge-1-8">
            <a class="popular__item" href="#">
                <div class="popular__item-img-cont">
                    <div class="popular__item-img" style="background-image: url('/images/temp/popular-1.jpg');"></div>
                </div>
                <div class="popular__item-name">Санфаянс</div>
            </a>
        </div>
        <div class=" uk-width-1-2 uk-width-medium-1-5 uk-width-xlarge-1-8"> 
            <a class="popular__item" href="#">
                <div class="popular__item-img-cont">
                    <div class="popular__item-img" style="background-image: url('/images/temp/popular-2.jpg');"></div>
                </div>
                <div class="popular__item-name">Санфаянс</div>
            </a>
        </div>
        <div class=" uk-width-1-2 uk-width-medium-1-5 uk-width-xlarge-1-8"> 
            <a class="popular__item" href="#">
                <div class="popular__item-img-cont">
                    <div class="popular__item-img" style="background-image: url('/images/temp/popular-1.jpg');"></div>
                </div>
                <div class="popular__item-name">Санфаянс</div>
            </a>
        </div>
        <div class=" uk-width-1-2 uk-width-medium-1-5 uk-width-xlarge-1-8"> 
            <a class="popular__item" href="#">
                <div class="popular__item-img-cont">
                    <div class="popular__item-img" style="background-image: url('/images/temp/popular-2.jpg');"></div>
                </div>
                <div class="popular__item-name">Санфаянс</div>
            </a>
        </div>
        <div class=" uk-width-1-2 uk-width-medium-1-5 uk-width-xlarge-1-8"> 
            <a class="popular__item" href="#">
                <div class="popular__item-img-cont">
                    <div class="popular__item-img" style="background-image: url('/images/temp/popular-1.jpg');"></div>
                </div>
                <div class="popular__item-name">Санфаянс</div>
            </a>
        </div>
        <div class=" uk-width-1-2 uk-width-medium-1-5 uk-width-xlarge-1-8"> 
            <a class="popular__item" href="#">
                <div class="popular__item-img-cont">
                    <div class="popular__item-img" style="background-image: url('/images/temp/popular-2.jpg');"></div>
                </div>
                <div class="popular__item-name">Санфаянс</div>
            </a>
        </div>
        <div class=" uk-width-1-2 uk-width-medium-1-5 uk-width-xlarge-1-8"> 
            <a class="popular__item" href="#">
                <div class="popular__item-img-cont">
                    <div class="popular__item-img" style="background-image: url('/images/temp/popular-1.jpg');"></div>
                </div>
                <div class="popular__item-name">Санфаянс</div>
            </a>
        </div>
        <div class=" uk-width-1-2 uk-width-medium-1-5 uk-width-xlarge-1-8"> 
            <a class="popular__item" href="#">
                <div class="popular__item-img-cont">
                    <div class="popular__item-img" style="background-image: url('/images/temp/popular-2.jpg');"></div>
                </div>
                <div class="popular__item-name">Санфаянс</div>
            </a>
        </div>
        <div class=" uk-width-1-2 uk-width-medium-1-5 uk-width-xlarge-1-8"> 
            <a class="popular__item" href="#">
                <div class="popular__item-img-cont">
                    <div class="popular__item-img" style="background-image: url('/images/temp/popular-1.jpg');"></div>
                </div>
                <div class="popular__item-name">Санфаянс</div>
            </a>
        </div>
        <div class=" uk-width-1-2 uk-width-medium-1-5 uk-width-xlarge-1-8"> 
            <a class="popular__item" href="#">
                <div class="popular__item-img-cont">
                    <div class="popular__item-img" style="background-image: url('/images/temp/popular-2.jpg');"></div>
                </div>
                <div class="popular__item-name">Санфаянс</div>
            </a>
        </div>
        <div class=" uk-width-1-2 uk-width-medium-1-5 uk-width-xlarge-1-8"> 
            <a class="popular__item" href="#">
                <div class="popular__item-img-cont">
                    <div class="popular__item-img" style="background-image: url('/images/temp/popular-1.jpg');"></div>
                </div>
                <div class="popular__item-name">Санфаянс</div>
            </a>
        </div>
        <div class=" uk-width-1-2 uk-width-medium-1-5 uk-width-xlarge-1-8"> 
            <a class="popular__item" href="#">
                <div class="popular__item-img-cont">
                    <div class="popular__item-img" style="background-image: url('/images/temp/popular-2.jpg');"></div>
                </div>
                <div class="popular__item-name">Санфаянс</div>
            </a>
        </div>
        <div class=" uk-width-1-2 uk-width-medium-1-5 uk-width-xlarge-1-8"> 
            <a class="popular__item" href="#">
                <div class="popular__item-img-cont">
                    <div class="popular__item-img" style="background-image: url('/images/temp/popular-1.jpg');"></div>
                </div>
                <div class="popular__item-name">Санфаянс</div>
            </a>
        </div>
        <div class=" uk-width-1-2 uk-width-medium-1-5 uk-width-xlarge-1-8"> 
            <a class="popular__item" href="#">
                <div class="popular__item-img-cont">
                    <div class="popular__item-img" style="background-image: url('/images/temp/popular-2.jpg');"></div>
                </div>
                <div class="popular__item-name">Санфаянс</div>
            </a>
        </div>
        <div class=" uk-width-1-2 uk-width-medium-1-5 uk-width-xlarge-1-8"> 
            <a class="popular__item" href="#">
                <div class="popular__item-img-cont">
                    <div class="popular__item-img" style="background-image: url('/images/temp/popular-1.jpg');"></div>
                </div>
                <div class="popular__item-name">Санфаянс</div>
            </a>
        </div>
        <div class=" uk-width-1-2 uk-width-medium-1-5 uk-width-xlarge-1-8"> 
            <a class="popular__item" href="#">
                <div class="popular__item-img-cont">
                    <div class="popular__item-img" style="background-image: url('/images/temp/popular-2.jpg');"></div>
                </div>
                <div class="popular__item-name">Санфаянс</div>
            </a>
        </div>
    </div>
</div>