.cm-slider {

  position: relative;
  background: #fff;
  border-top: 1px solid #e4db69;
  border-bottom: 1px solid #e4db69;

  &__ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    padding: 8px 5px;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    border-right: 1px solid #e4db69;
    min-height: 115px;

    &:hover {
      background: @background-yellow;
    }
  }
  //
  &__item-name {
    font-size: .8rem;
    line-height: 0.9rem;
    color: @text-black;
    text-decoration: none;
  }

  &__item-img {
    margin-top: 7px;
    max-width: 60px;
    max-height: 60px;

  }

  &__link {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  &__nav {
    position: absolute;
    text-decoration: none;
    top: 35px;
    left: 0;
    color: @text-black;
    font-size: 2.5rem;
    display: none;
    opacity: .5;
    font-style: normal;

    &:hover {
      text-decoration: none;
      color: @text-black;
      opacity: .75;
    }

    &--prev {
      margin-left: 7px;

      &:before {
        content: "\f104";
        font-family: FontAwesome;
      }
    }
    &--next {
      right: 0;
      margin-right: 7px;
      left: auto;
      &:before {
        content: "\f105";
        font-family: FontAwesome;
      }
    }
  }

  /* Sub menu */
  &__sub-menu {
    position: absolute;
    height: 0;
    overflow: hidden;
    z-index: 40;
    background: #fff;
    width: 100%;

    padding-top: 0;
    padding-bottom: 0;

    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.25);

    transition: all .2s;
    -webkit-transition: all .2s;


    &.is-open {
      padding-bottom: 35px;
      padding-top: 15px;
      height: auto;
    }
  }
  &__sub-menu-item {
    display: block;
    color: @text-black;
    font-size: 0.85rem;
    &:hover {
      color: @text-light-blue;
      text-decoration: none;
    }

    &--parent {
      font-size: 1rem;
      font-weight: 500;
      margin: 15px 0;
    }
  }

  &__group {
    display: none;
    margin-top: 0 !important;
  }

}

.cm-slider:hover .cm-slider__nav {
  display: block;
}


/* Phones */
.uk-touch {
  .cm-slider .cm-slider__nav {
    display: block;
  }
}






