.footer {
  background: #f8f9f9;
  font-size: 0.85rem;
  box-sizing: border-box;
  padding: 0 0 25px;

  &__grid-cell {
    margin-top: 20px;
  }

  &__link {
    margin-right: 5px;
  }

  &__links-cont {
    margin-top: 10px;
  }
  &__text {
    color: @text-gray;
    font-size: 0.75rem;
    line-height: .95rem;
  }
}