/* Phones < 640 */
@media (max-width: 640px) {
  .footer {
    padding-bottom: 35px;
  }
  .uk-touch {
    .fixed {
      position: fixed;
      width: 100%;
      font-size: 0;
      z-index: 20;
      left: 0;
      margin-left: 0;
      top: auto;
      margin-top: 0;
      bottom: 0;
      line-height: 0;

      &__title {
        width: 100%;
        transform: rotate(0);
      }

      &__item {
        height: 30px;
        width: 50%;
        display: inline-block;
        font-size: 0.95rem;
        line-height: 1.2rem;

        -webkit-transition: all 0s;
        -moz-transition: all 0s;
        -ms-transition: all 0s;
        -o-transition: all 0s;
        transition: all 0s;

        &:hover {
          -webkit-transform: none;
          -moz-transform: none;
          -ms-transform: none;
          -o-transform: none;
          transform: none;
        }

        &--cart {
          width: 50%;
          margin-top: 0;
          &:hover {
            -webkit-transform: none;
            -moz-transform: none;
            -ms-transform: none;
            -o-transform: none;
            transform: none;
          }

        }
      }

      &__content {
        display: none;
      }

    }

  }

}


.fixed {
  position: fixed;
  z-index: 20;
  left: 100%;
  margin-left: -30px;
  top: 50%;
  margin-top: -150px;

  &__item {
    position: relative;
    background: @background-light-blue;
    display: block;
    height: 145px;

    -webkit-transition: all .15s;
    -moz-transition: all .15s;
    -ms-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;

    backface-visibility: hidden;
    overflow: hidden;


    &:hover {
      -webkit-transform: translateX(-10px);
      -moz-transform: translateX(-10px);
      -ms-transform: translateX(-10px);
      -o-transform: translateX(-10px);
      transform: translateX(-10px);
    }
  }
  &__item--cart {
    width: 300px;
    box-sizing: border-box;
    background: rgba(0,0,0,.73);

    padding-left: 40px;
    margin-top: 10px;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -ms-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    &:hover {
      -webkit-transform: translateX(-270px);
      -moz-transform: translateX(-270px);
      -ms-transform: translateX(-270px);
      -o-transform: translateX(-270px);
      transform: translateX(-270px);
    }
  }

  &__title {
    position: absolute;
    bottom: 0;
    left: 0;

    transform: rotate(-90deg);
    transform-origin:  15px 15px;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin:  15px 15px;

    width: 145px;
    height: 30px;
    color: #fff;
    background: @background-light-blue;
    padding: 5px 10px;
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
    text-align: center;

    &:hover {
      text-decoration: none;
      color: #fff;
    }
    i {
      margin-right: 7px;
    }
    span {
      font-size: .75rem;
      border-radius: 3px;
      background: #fff;
      color: #0070a7;
      padding: 0 2px;
      min-width: 13px;
      margin-left: 5px;
      line-height: 16px;
      display: inline-block;
    }
  }



  /* Cart */
  &__content {
    padding-top: 5px;
  }
  &__c-remove-all {
    position: absolute;
    right: 7px;
    top: 3px;
    color: #999;
    font-size: .75rem;
    text-decoration: underline;
    &:hover {
      color: #777;
      text-decoration: underline;
    }
  }
  &__c-title {
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 5px;
    font-weight: 400;
  }

  &__c-item {
    padding: 10px 0;
    border-top: 1px solid #6e6e6e;
    &:nth-child(1) {
      border-top: 1px solid transparent;
    }
  }
  &__c-name-cont {
    line-height: 0.8rem;
  }
  &__c-name {
    color: #fff;
    font-size: .75rem;
    line-height: 1rem;
    text-decoration: none;
    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }
  &__c-input {
    font-size: .75rem;
    text-align: center;
    width: 100%;
    border: 1px solid #6e6e6e;
    background: #fff;
  }
  &__c-price {
    font-size: .85rem;
    color: #fff200;
    .rub {
      font-size: .75rem;
    }

  }
  &__c-remove {
    color: #fff;
    cursor: pointer;
    margin-left: 5px;
  }

  &__c-content {
    height: 75px;
    border-bottom: 1px solid #6e6e6e;
  }


  &__c-itog {
    color: #fff;
    font-size: .85rem;
    margin-top: 7px;
    line-height: 27px;
    white-space: nowrap;
    > div {
      display: inline-block;
    }
  }
  &__c-order {
    vertical-align: top;
    margin-left: 20px;
  }

}