.main-brands {

  &__cont {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  border: 1px solid #efefef;
  list-style: none;
  padding: 0;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  margin-bottom: 35px;
  &__item {
    border: 1px solid #efefef;
    border-radius: 3px;
    margin: 10px 5px;
    text-align: center;
  }



  .owl-pagination {
    text-align: center;
    position: absolute;
    margin-top: 7px;
    margin-left: -25px;
    width: 100%;
    .owl-page {
      display: inline-block;
      margin: 0 2px;
      width: 10px;
      height: 10px;
      background: #cccccc;
      border-radius: 50%;
      &.active {
        background: #018ed5;
      }
    }
  }


  &__nav {
    position: absolute;
    top: 0;
    width: 20px;
    height: 100%;
    text-align: center;
    color: #d2d2d2;
    background: #f7f7f7;
    opacity: 1;
    &:hover {
      background: #f2f2f2;

    }
    &--with-paddings {
      margin-top: 4px;
      height: calc(~"100% - 8px");
    }
    &--next {
      right: 0;
      &:before {
        position: absolute;
        /* width: 10px; */
        top: 50%;
        left: 8px;
        display: inline-block;
        margin-top: -9px;
        content: "\f105";
        font-family: FontAwesome;
      }
    }
    &--prev {
      left: 0;
      &:before {
        position: absolute;
        /* width: 10px; */
        top: 50%;
        left: 7px;
        display: inline-block;
        margin-top: -9px;
        content: "\f104";
        font-family: FontAwesome;
      }
    }
  }
}