.buy-before {

  &__cont {
    padding: 4px;
  }
  &__item {
    display: block;
    height: 100%;
    border: 1px solid #e0e0e0;
    padding: 10px 15px 15px;
    box-sizing: border-box;
    &:hover {
      box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
      text-decoration: none;
    }
    &--mh {
      min-height: 200px;
    }
  }



  &--view-history {
    margin-top: 35px;
    margin-bottom: 35px;
  }

}

.vh-slider {
  padding: 0 15px;
  box-sizing: border-box;

}
