.popular {

  &__item {
    display: block;
    text-align: center;
    padding-bottom: 25px;
    font-size: .95rem;
    color: @text-light-blue;
    text-decoration: underline;

    &:hover {
      .popular__item-img-cont {
        box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
      }
      color: @text-red;
    }
  }

  &__item-img-cont {
    border: 1px solid #efefef;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  &__item-img {
    height: 125px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }


}