.header {
  position: relative;
  background: @background-yellow;
  padding-top: 15px;
  padding-bottom: 15px;

  &__logo {
    width: 125px;
  }

  &__city-link {
    font-size: 1rem;
    border-bottom: 1px dotted @text-black;
    color: @text-black;
    &:hover {
      text-decoration: none;
      color: @text-dark-blue;
      border-bottom: 1px dotted @text-dark-blue;
    }
  }

  &__phone {
    margin-top: 7px;
  }

  &__nav {
    display: table;
    padding: 0;
    //table-layout: fixed;
    width: 100%;
    list-style: none;
    font-size: .85rem;
    &-item {
      display: table-cell;
      white-space: nowrap;
      text-align: center;
      padding-right: 10px;
    }
    &-link {
      color: @text-black;
      &:hover, &.is-active {
        color: @text-dark-blue;
        text-decoration: underline;
      }
    }
  }

  &__search {
    width: 85%;
    position: relative;

    &-input {
      width: 100%;
      box-sizing: border-box;
      padding: 8px 10px 8px;
      border-radius: 3px;
      border: 1px solid #d8cb24;
    }
    &-submit {
      min-width: 80px;
      position: absolute;
      right: -90px;
      top: 0;
    }
  }

  &__navbar-toggle {
    cursor: pointer;
    color: @text-black;
    font-size: 1.3rem;
    &:hover {
      color: @text-dark-blue;
    }
    &:after {
      content: "\f0c9";
      font-family: FontAwesome;
      vertical-align: middle;
    }
  }
}

@media (max-width: 850px) {
  .header__nav-item {
    font-size: .75rem;
  }
}

@media (max-width: 767px) {
  .header {
    &__nav-cell {
      position: absolute;
      top: 20px;
      right: 20px;
    }

    &__nav-cont {
      position: absolute;
      z-index: 50;
      top: 62px;
      padding-top: 0;
      left: 0;
      width: 100%;
      background: @background-yellow;
      visibility: hidden;
      padding-bottom: 15px;
      padding-right: 15px;
      text-align: right;

      -webkit-transition: padding .2s;

      &.is-active {
        visibility: visible;
        display: block;
        padding-top: 15px;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
      }

    }

    &__nav-item {
      display: block;
      text-align: right;
      line-height: 25px;
      font-size: 1rem;
    }
    &__search {
      width: 90%;
      display: inline-block;
    }
    &__search-submit {
      display: none;
    }
  }
}