.m-slider {

  margin-top: 15px;
  margin-bottom: 15px;


  &__cont {
    padding-right: 10px;
    box-sizing: border-box;
    overflow: hidden;
  }


  &__control-item {
    border: 1px solid #e5e5e5;
    padding: 9px 10px 8px;
    white-space: nowrap;
    width: 235px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .9rem;
    margin-bottom: 5px;
    cursor: pointer;
    &:hover, &.is-active {
      border: 1px solid @text-light-blue;
      color: @text-blue;
    }

  }

  &__control-cell {
    position: relative;
  }

  &__control-cont {
    width: 235px;
    height: 100%;


    .scroll-bar {
      opacity: 0;
    }
    &:hover {
      .scroll-bar {
        opacity: .5;
      }
    }


  }








  * {
    outline: none;
  }

}