.cf {

  background: @background-input-focused;
  border: 1px solid @border-blue;
  border-radius: 3px;

  padding: 5px 30px 20px;
  margin-bottom: 25px;


  &__search-result {
    position: absolute;
    z-index: 9;
    left: 100%;
    margin-left: -25px;
    white-space: nowrap;
    border: 1px solid @border-blue;
    background: @background-input-focused;
    border-radius: 3px;
    color: @text-black;
    font-size: .8rem;
    padding: 5px 10px;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: -6px;
      margin-top: -5px;
      width: 10px;
      height: 10px;
      border-left: 1px solid @border-blue;
      border-bottom: 1px solid @border-blue;
      background: @background-input-focused;

      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);


    }

    a {
      color: @background-dark-blue;
      text-decoration: none;
      border-bottom: 1px dotted @text-dark-blue;
      margin-left: 10px;
      &:hover {
        color: @text-red;
        text-decoration: none;
        border-bottom: 1px solid @text-red;
      }
    }
  }



  &__title {
    font-weight: 500;
    font-size: .9rem;
    margin: 15px 0 0;
    cursor: default;

    &--toggled {
      cursor: pointer;
      &.is-open {
        &:before {
          content: "\f0d7";
          font-family: FontAwesome;
        }

        + .cf__group {
          height: auto;
        }
      }

      &:before {
        content: "\f0da";
        font-family: FontAwesome;
      }

      + .cf__group {
        height: 0;
      }

    }
  }



  &__group {
    font-size: .85rem;
    overflow: hidden;
    height: auto;
    label {
      display: block;
      input[type=checkbox] {
        position: relative;
        top: 1px;
        margin-right: 5px;
      }
    }
  }

  &__range-group {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  &__input-group {
    margin: 0 0 15px;
    input {
      width: 65px;
      border: 1px solid @border-gray;
      height: 30px;
      line-height: 30px;
      padding: 0 10px;
      border-radius: 3px;
      margin-bottom: 5px;
      margin-right: 5px;
    }
  }

  &__info {
    color: @text-light-blue;
    margin-left: 5px;
  }



  &__controls {
    margin: 25px 0 0;
  }
  &__control-show {
    margin-right: 15px;

  }

}

@media (max-width: 1219px) {
  .cf__input-group {
    font-size: 0;
  }
}


/* NoUiSlider */
.noUi-target {
  height: 4px;
  background: #efefef;
  border-radius: 0;
  border: 0;
  box-shadow: none;
}
.noUi-horizontal .noUi-handle {
  width: 5px;
  height: 18px;
  left: 0;
  top: -7px;
}
.noUi-handle {
  border-radius: 0;
  border: 0;
  background: #0c94d7;

  cursor: default;
  box-shadow: none;
}
.noUi-handle:after, .noUi-handle:before {
  content: "";
  display: none;
}

.noUi-origin {
  border-radius: 0;
}
.noUi-background {
  background: #efefef;
  box-shadow: none;
}
.noUi-connect {
  background: #0c94d7;;
  box-shadow: none;
}



