/* textarea */
.textarea {
  padding: 10px 10px;
  resize: vertical;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #efefef;
  background: #fcfcfc;
  border-radius: 3px;
}

/* Text */
.text--medium {
  font-size: .9rem;
  line-height: 1rem;
}
.text--red {
  color: @text-red;
}
/* Links */
.link--gray {
  color: #1d1d1d;
  &:hover {
    color: #000;
  }
}
.link--light-gray {
  color: #888;
  &:hover {
    color: #555;
  }
}
.link--dotted {
  border-bottom: 1px dotted #999;
  &:hover {
    border-bottom: 1px dotted #555;
    text-decoration: none;
  }
}
.link--red {
  color: @background-red;
  &:hover {
    color: @background-dark-red;
  }
}


.link--td-inverse {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.link--blue-red {
  color: @text-light-blue;
  &:hover {
    color: @text-red;
  }
}

/* Buttons */
.btn {

  box-sizing: border-box;
  font-size: .85rem;
  white-space: nowrap;

  &--light-red {
    background: #fceeee;
    border: 1px solid @background-red;
    color: @text-red;
    &:hover, &:focus {
      background: @background-dark-red;
      border: 1px solid @background-dark-red;
      color: #fff !important;
    }
  }
  &--red {
    background: @background-red;
    border: 1px solid @background-red;
    color: #fff !important;
    &:hover, &:focus {
      background: @background-dark-red;
      border: 1px solid @background-dark-red;
      color: #fff !important;
    }
  }
  &--transparent {
    background: transparent;
    border: 1px solid transparent;
    color: #777 !important;
    &:hover, &:focus {
      background: transparent;
      border: 1px solid transparent;
      color: #333 !important;
    }
  }
  &--blue {
    background: @background-light-blue;
    border: 1px solid @background-light-blue;
    color: #fff !important;
    &:hover, &:focus {
      background: @background-dark-blue;
      border: 1px solid @background-dark-blue;
      color: #fff !important;
    }
  }
  &--light-blue {
    background: @background-input-focused;
    border: 1px solid @border-blue;
    color: @text-light-blue;
    &:hover, &.is-active {
      background: @background-light-blue;
      border: 1px solid @background-light-blue;
      color: #fff;
    }
  }
  &--blue-inverse {
    background: #f6fbfd;
    border: 1px solid #bde2f4;
    color: #0c94d7 !important;
    &:hover, &:focus, &.is-active {
      background: #0c94d7;
      border: 1px solid #0c94d7;
      color: #fff !important;
    }
  }

  &--100 {
    width: 100%;
  }

  &--nobl {
    border-left: 0;
  }


  &--rounded {
    border-radius: 3px;
  }
  &--xrounded {
    border-radius: 10px;
  }
  &--mw135 {
    min-width: 135px;
  }
  i {
    margin-right: 10px;
  }

  &--sq {
    padding-left: 5px;
    padding-right: 5px;
    min-width: 32px;
    i {
      margin-right: 0;
    }
  }

  &--small {
    font-size: 0.75rem;
    width: auto;
    min-width: 0;
    padding: 0 7px;
    line-height: 23px;
    height: 25px;
    min-height: 25px;
  }

  &--white {
    background: #fff;
    border: 1px solid #fff;
    color: #393939;
    &:hover, &:focus {
      background: #eee;
      border: 1px solid #eee;
      color: #393939;
    }
  }


  &--sorting {
    position: relative;
    &-down {
      &:after {
        content: "\f160";
        font-family: FontAwesome;
        color: inherit;
        margin-left: 5px;
      }
    }
    &-up {
      &:after {
        content: "\f161";
        font-family: FontAwesome;
        color: inherit;
        margin-left: 5px;
      }
    }
  }
}

/* Tables */
.table--simple {
  margin: 15px 0;
  width: 100%;
  border-collapse: collapse;
  tr {
    &:nth-child(2n) {
      background: #fafbfc;
    }
  }
  th {
    padding: 5px 15px;
    border: 0;
    border-bottom: 2px solid @text-light-blue;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  td {
    padding: 5px 15px;
    border: 0;


  }
}



/* Datatable pagination */
.deliv-city-table {
  margin: 5px 0 15px;
}

.paginate_button {
  display: inline-block;
  white-space: nowrap;
  margin-right: 2px;
  margin-bottom: 2px;
  border: 1px solid #efefef;
  border-radius: 2px;
  font-size: .8rem;
  padding: 2px 7px;
  cursor: pointer;
  text-decoration: none;
  &:hover, &.current {
    background: #f4f4f4;
    text-decoration: none;
  }
}
.dataTables_filter {
  float: right;
  position: relative;
  top: -20px;
  input {
    margin-left: 7px;
  }
}



/* Preloader */
.spinner {
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: @text-light-blue;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}



/* Breadcrumbs */
.breadcrumbs {

  margin-bottom: 25px;

  &__item {
    display: inline-block;
    background: #dfdfdf;
    border-radius: 3px;
    color: @text-black;
    padding-left: 20px;
    padding-right: 6px;
    box-sizing: border-box;
    font-size: .9rem;
    height: 30px;
    line-height: 30px;
    position: relative;



    &:not(.breadcrumbs__item--last) {
      &:after {
        content: "";
        right: -9px;
        position: absolute;
        width: 0;
        height: 0;
        border-left: 10px solid #dfdfdf;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 0;

      }
    }

    &:not(.breadcrumbs__item--first) {
      &:before {
        content: "";
        left: 0px;
        position: absolute;
        width: 0;
        height: 0;
        border-left: 10px solid #fff;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 0;
      }
    }


    &:hover {
      color: @text-black;
      text-decoration: none;
      background: #cfcfcf;
      &:after {
        border-left: 10px solid #cfcfcf;
      }
    }

    &--last {
      background: #efefef;
      cursor: default;
      padding-right: 12px;
      &:hover {
        text-decoration: none;
        color: @text-black;
        background: #efefef;
      }
    }
    &--first {
      padding-left: 12px;
    }


    &--1 {
      z-index: 7;
    }
    &--2 {
      z-index: 6;
    }
    &--3 {
      z-index: 5;
    }
    &--4 {
      z-index: 4;
    }
    &--5 {
      z-index: 3;
    }
    &--6 {
      z-index: 2;
    }
    &--7 {
      z-index: 1;
    }
  }


}



/* Panel */
.panel {
  font-size: .75rem;
  line-height: .9rem;
  padding: 5px 10px;
  border: 1px solid @border-gray;
  background: #fff;
  margin: 5px 0;

  &--info {
    border: 1px solid #bde2f4;
    background: #f6fbfe;
  }
  &--warning {
    border: 1px solid #fec92d;
    background: #f2e575;
  }
  &--danger {
    border: 1px solid #edc3c4;
    background: #fededf;
  }
}



.rub {
  font-size: inherit;
  &:before {
    content: "\f158";
    font-family: FontAwesome;
    color: inherit;
  }
}