.form {

  &__group {
    margin: 25px 0;
    position: relative;

    .uk-form-icon {
      width: 100%;
      box-sizing: border-box;
      i {
        color: @text-light-blue;
        border-left: 1px solid @border-gray;
      }
    }

    input, textarea, select {
      width: 100%;
      box-sizing: border-box;
      border: 1px solid @border-gray;
      background: #fcfcfc;
      border-radius: 3px;

      &:focus {
        background: @background-input-focused;
      }

    }
    select {
      padding: 10px 10px;
    }
    input {
      padding: 10px 10px;
    }
    textarea {
      padding: 10px 10px;
      resize: vertical;
    }

    &.has-error {
      input, textarea, select {
        background: @background-input-focused;
        border-color: @text-light-blue;
      }
    }

  }

  &__help-block {
    position: absolute;
    font-size: .75rem;
    color: #008fd5;
    right: 0;
    bottom: -18px;
  }

  &__submit-cont {
    .spinner {
      position: absolute;
      left: 50%;
      margin-left: -35px;
      margin-top: 8px;
      display: none;
      cursor: default;
    }
  }


  &--loading {
    .form__submit-cont {
      input, button {
        visibility: hidden;
      }
      .spinner {
        display: block;
      }
    }
  }

}

