.page-wrap {
  min-height: 100%;
  padding-bottom: 35px;
  margin-bottom: -190px;
  &::after {
    content: "";
    display: block;
    height: 190px;
  }
}

.uk-container-full {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 960px) {
  .uk-container-full {
    padding-left: 50px;
    padding-right: 50px;
  }
}

footer.footer {
  min-height: 190px;
}


@media (min-width: 1420px) {
  .uk-container {
    max-width: 1400px;
    padding: 0 35px;
  }
}


/* 1-8 grid */
.uk-width-1-8 { width: 12.5%; }
.uk-width-2-8 { width: 25%; }
.uk-width-3-8 { width: 37.5%; }
.uk-width-4-8 { width: 50%; }
.uk-width-5-8 { width: 62.5%; }
.uk-width-6-8 { width: 75%; }
.uk-width-7-8 { width: 87.5%; }
.uk-width-8-8 { width: 100%; }


/* 1-7 grid */
.uk-width-1-7 { width: 14.28%; }
.uk-width-2-7 { width: 28.57%; }
.uk-width-3-7 { width: 42.85%; }
.uk-width-4-7 { width: 57.14%; }
.uk-width-5-7 { width: 71.42%; }
.uk-width-6-7 { width: 85.71%; }
@media (min-width: 768px) {
  .uk-width-medium-1-7 { width: 14.28%; }
  .uk-width-medium-2-7 { width: 28.57%; }
  .uk-width-medium-3-7 { width: 42.85%; }
  .uk-width-medium-4-7 { width: 57.14%; }
  .uk-width-medium-5-7 { width: 71.42%; }
  .uk-width-medium-6-7 { width: 85.71%; }

  .uk-pull-5-7 {
    left: -71.42%;
  }

  .uk-push-2-7 {
    left: 28.57%;
  }
}

@media (min-width: 768px) {
  .uk-width-medium-1-8 { width: 12.5%; }
  .uk-width-medium-2-8 { width: 25%; }
  .uk-width-medium-3-8 { width: 37.5%; }
  .uk-width-medium-4-8 { width: 50%; }
  .uk-width-medium-5-8 { width: 62.5%; }
  .uk-width-medium-6-8 { width: 75%; }
  .uk-width-medium-7-8 { width: 87.5%; }
  .uk-width-medium-8-8 { width: 100%; }
}

@media (min-width: 960px) {
  .uk-width-large-1-7 { width: 12.5%; }
  .uk-width-large-2-7 { width: 28.57%; }
  .uk-width-large-3-7 { width: 42.85%; }
  .uk-width-large-4-7 { width: 57.14%; }
  .uk-width-large-5-7 { width: 71.42%}
  .uk-width-large-6-7 { width: 85.71%; }
}
@media (min-width: 960px) {
  .uk-width-large-1-7 { width: 12.5%; }
  .uk-width-large-2-7 { width: 28.57%; }
  .uk-width-large-3-7 { width: 42.85%; }
  .uk-width-large-4-7 { width: 57.14%; }
  .uk-width-large-5-7 { width: 71.42%; }
  .uk-width-large-6-7 { width: 85.71%; }
}

@media (min-width: 960px) {
  .uk-width-large-1-8 { width: 12.5%; }
  .uk-width-large-2-8 { width: 25%; }
  .uk-width-large-3-8 { width: 37.5%; }
  .uk-width-large-4-8 { width: 50%; }
  .uk-width-large-5-8 { width: 62.5%; }
  .uk-width-large-6-8 { width: 75%; }
  .uk-width-large-7-8 { width: 87.5%; }
  .uk-width-large-8-8 { width: 100%; }
}
@media (min-width: 960px) {
  .uk-width-large-1-8 { width: 12.5%; }
  .uk-width-large-2-8 { width: 25%; }
  .uk-width-large-3-8 { width: 37.5%; }
  .uk-width-large-4-8 { width: 50%; }
  .uk-width-large-5-8 { width: 62.5%; }
  .uk-width-large-6-8 { width: 75%; }
  .uk-width-large-7-8 { width: 87.5%; }
  .uk-width-large-8-8 { width: 100%; }
}
@media (min-width: 1220px) {
  .uk-width-xlarge-1-8 { width: 12.5%; }
  .uk-width-xlarge-2-8 { width: 25%; }
  .uk-width-xlarge-3-8 { width: 37.5%; }
  .uk-width-xlarge-4-8 { width: 50%; }
  .uk-width-xlarge-5-8 { width: 62.5%; }
  .uk-width-xlarge-6-8 { width: 75%; }
  .uk-width-xlarge-7-8 { width: 87.5%; }
  .uk-width-xlarge-8-8 { width: 100%; }
}
@media (min-width: 1220px) {
  .uk-width-xlarge-1-7 { width: 12.5%; }
  .uk-width-xlarge-2-7 { width: 28.57%; }
  .uk-width-xlarge-3-7 { width: 42.85%; }
  .uk-width-xlarge-4-7 { width: 57.14%; }
  .uk-width-xlarge-5-7 { width: 71.42%; }
  .uk-width-xlarge-6-7 { width: 85.71%; }
}


/* Grid collapse */
.uk-grid-xsmall {
  margin-left: -7px;
}
.uk-grid-xsmall>* {
  padding-left: 7px;
}