@text-black: #1d1d1d;
@text-blue: #079;
@text-dark-blue: #0070a7;
@text-red: #ea212d;
@text-gray: #8e8e8e;
@text-light-blue: #008fd5;
@background-red: #ea212d;
@background-light-blue: #008fd5;
@background-dark-blue: #0070a7;
@background-dark-red: #c60915;
@background-yellow: #fef035;
@background-input-focused: #f6fbfd;
@border-gray: #efefef;
@border-blue: #bde2f4;

html {
  overflow-x: hidden;
  font-size: 16px;
}
html, body {
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  color: @text-black;
}
html.uk-modal-page {
  height: auto;
  body {
    height: auto;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  color: @text-black;
  font-weight: normal;
}
h3, .uk-h3 {
  line-height: 1.1rem;
}
table {
  border-collapse: collapse;
  font-family: 'Ubuntu', sans-serif;
}
input, textarea, select {
  font-family: 'Ubuntu', sans-serif;
}

.clear {
  clear: both;
}
.content {
}

.no-select {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

.fl {
  float: left;
}
.fr {
  float: right;
}


.mt-5 {
  margin-top: 5px;
}