.cg {
  margin-top: 35px;
  margin-bottom: 35px;

  &__sort {
    border: 1px solid @border-gray;
    padding: 15px 20px 10px;
    font-size: .85rem;
    border-radius: 3px;
    > * {
      display: inline-block;
      margin-bottom: 5px;

    }
  }

  &__sort-count {
    margin: 0 9px;
  }

  &__good {
    margin-bottom: 5px;
  }
  &__good-cont {
    display: block;
    border: 1px solid @border-gray;
    border-radius: 3px;
    padding: 15px 15px 25px;
    font-size: .9rem;
    color: @text-black;
    text-decoration: none;
    line-height: 1.1rem;
    margin: 5px 0;
    height: 100%;
    box-sizing: border-box;

    &:hover {
      border: 1px solid #7ac4e9;
      color: @text-black;
      text-decoration: none;
    }
  }

  &__good-flag {
    margin-right: 5px;
  }
  &__good-tocompare {
    position: absolute;
    cursor: pointer;
    right: 0px;
    top: 0;
    color: @text-light-blue;
    &:hover {
      color: @text-dark-blue;
    }
    &.is-active {
      color: @text-red;
    }
    &:after {
      content: "+";
      color: inherit;
      margin-left: 2px;
      position: relative;
      top: -3px;
    }
  }
  &__good-art {
    position: relative;
    border-bottom: 1px solid @border-gray;
    padding: 0 0 10px;
    font-size: .8rem;
  }

  &__good-name {
    display: inline-block;
    color: @text-light-blue;
    margin: 10px 0;
    &:hover {
      color: @text-blue;
      text-decoration: underline;
    }
  }
  &__good-image {
    max-height: 200px;
  }
  &__price {
    font-size: 1.5rem;
    margin: 20px 0;
    .rub {
      font-size: 1.2rem;
    }
  }
  &__old-price {
    font-size: 1.1rem;
    text-decoration: line-through;
    .rub {
      font-size: .85rem;
    }
  }

  &__good-about {
    display: none;
  }
}


/* Like rows */

@media (min-width: 768px) {
  .cg__grid--rows {

    .cg__good-cont {
      position: relative;
      min-height: 250px;
    }

    > .uk-width-1-1 {
      width: 100% !important;
    }

    .cg__good-image {
      position: absolute;
      max-width: 100%;
      top: 50px;
      left: 7px;
    }

    .cg__good-name {
      font-size: 1.1rem;
      margin-left: 210px;
    }

    .cg__good-about {
      display: block;
      font-size: .85rem;
      margin-left: 210px;
    }
    .cg__price {
      margin-left: 210px;
    }
    .cg__good-cart {
      margin-left: 210px;
    }
  }
}

@media (max-width: 639px) {
  .cg__sort {
    padding: 10px 10px 5px
  }
}
