.news {
  margin-top: 35px;
  margin-bottom: 35px;


  &__title {
    font-size: 24px;
    line-height: 30px;
    float: left;
  }
  &__years {
    margin-left: 20px;
    display: inline-block;
    line-height: 35px;
  }
  &__years-item {
    margin: 0 5px;
    color: @text-black;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
      color: @text-red;
    }
    &.is-active {
      text-decoration: none;
      &:hover {
        cursor: default;
        color: @text-black;
      }
    }
  }


  &__item {
    margin: 20px 0;
  }

  &__item-date {
    margin: 7px 0 3px;
    font-size: .75rem;
    color: @text-gray;
  }
  &__item-name {
    display: block;
    color: @text-light-blue;
    font-size: .95rem;
    text-decoration: underline;
    margin-bottom: 5px;
    &:hover {
      color: @text-blue;
      text-decoration: underline;
    }
  }
  &__item-anons {
    font-size: .95rem;

  }

}





.new {
  &__title {
    font-size: 1.4rem;
    line-height: 1.7rem;
    margin-top: 5px;
  }
  &__date {
    margin: 20px 0 0;
    font-size: .85rem;
    color: @text-gray;
  }

}

@media (max-width: 639px) {
  .last-news__item {
    padding: 0 15px;
  }
}
