.cgood {
  margin-top: 35px;
  margin-bottom: 35px;


  &__image-cont {
    position: relative;
    text-align: center;
    border: 1px solid @border-gray;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 25px;
    margin-bottom: 7px;
    img {
      max-height: 400px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -6px;
      right: -6px;
      width: 130px;
      height: 130px;
      background-size: contain;
      background-position: right bottom;
      background-repeat: no-repeat;

    }

    &.mark-hit {
      &::after {
        background-image: url("/images/mark-hit.png");
      }
    }

  }



  &__image-list {
    font-size: 0;
  }
  &__image-list-item {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid @border-gray;

    margin: 3px;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    &:hover {
      border: 1px solid @border-blue;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }
  }


  &__other-cont {
    border: 1px solid @border-gray;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 25px;
    margin: 10px 0;
  }
  &__about-cont {
    border: 1px solid @border-gray;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 15px 25px;
    margin: 10px 0;
    margin-bottom: 15px !important;

    &.is-open {
      .js-good-about-more {
        display: none;
        &--hide {
          display: inline-block;
        }
      }
    }
  }


  &__about-more-cont {
    text-align: center;

    .js-good-about-more {
      margin-top: 7px;
      display: inline-block;
      &--hide {
        display: none;
      }
    }

  }
  &__about--hidden {
    display: none;
  }
  &__about-cont.is-open {
    .cgood__about--hidden {
      display: block;
    }
  }

  &__info-block {
    border: 1px solid @border-gray;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 25px;
    margin: 10px 0;
  }



  &__char {
    border: 1px solid @border-gray;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 15px;
    margin: 35px 0 10px;
    font-size: .85rem;

  }
  &__char-item {
    border-bottom: 1px solid @border-gray;
    padding: 6px 0;
    margin-top: 0 !important;
    &:nth-child(1) {
      border-top: 1px solid @border-gray;
    }
  }


  /* Buy cont */
  &__click-cont {
    border: 1px solid @border-gray;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 5px 0;
    padding: 5px 15px 10px;
    > a {
      margin: 3px 0;
    }
  }

  &__opt-cont {
    border: 1px solid @border-gray;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 5px 0;
    padding: 5px 5px 5px;
    font-size: 0;
  }
  &__opt {
    display: inline-block;
    width: 33%;
    text-align: center;
    margin: 10px 0;
  }

  &__buy-cont {
    border: 1px solid @background-yellow;
    background: @background-yellow;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 20px 15px 15px;
  }
  &__price {
    font-size: 2.2rem;
    line-height: 1.6rem;
    margin-bottom: 18px;
    .rub {
      font-size: 1.6rem;
    }
  }
  &__count {
    float: right;
    width: 65px;
  }
  &__good-cart {
    width: 100%;
  }
  &__price-text {
    font-size: .75rem;
    margin: 10px 0 5px;
    text-align: center;
  }
  &__nal {
    font-size: .95rem;
    text-align: center;
    i {
      color: #4f9708;
      margin-right: 5px;
    }
  }

  &__art {
    margin-top: 15px;
    float: right;
    font-size: .85rem;
  }

  &__brand {
    margin-top: 15px;
    img {
      max-height: 17px;
    }
  }
}



@media (max-width: 639px) {
  .cgood__about-cont {
      padding: 15px 10px;
  }
  .cgood__other-cont {
    padding: 20px 10px;
  }
  .cgood__info-block {
    padding: 15px 10px;
  }
}

@media (max-width: 400px) {
  .cgood__image-cont::after {
    width: 75px;
    height: 75px;
    right: -4px;
    bottom: -4px;
  }
}

@media (max-width: 1420px) and (min-width:1220px) {
  .cgood__click-cont .btn {
    font-size: 11px;
  }
}
