.catalog {
  margin-top: 35px;
  margin-bottom: 35px;


  &__group-item {
    display: block;
    height: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    border: 1px solid @border-gray;
    text-align: center;
    font-size: .8rem;
    color: @text-black;
    text-decoration: underline;
    line-height: 1rem;

    &:hover {
      text-decoration: none;
      color: @text-light-blue;
    }
  }

  &__group-image {
    margin-bottom: 10px;
  }

  &__group-grid {

    margin-bottom: 15px;
    > div {
      padding-bottom: 7px;
    }
  }

}