.cart {
  margin-top: 35px;
  margin-bottom: 35px;

  &__nav-group {
    font-size: 0;
    display: table;
    width: 100%;
  }
  &__nav-btn {
    position: relative;
    display: table-cell;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    text-align: center;
    font-size: .9rem;
    background: @border-gray;
    color: @text-gray;

    &.is-active {
      background: @background-light-blue;
      color: #fff;

      &:not(.cart__nav-btn--last) {
        &:after {
          border-left: 10px solid @background-light-blue;
        }
      }
    }

    &:not(.cart__nav-btn--last) {
      &:after {
        content: "";
        right: -10px;
        position: absolute;
        width: 0;
        height: 0;

        border-left: 10px solid @border-gray;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 0;

      }
    }

    &:nth-child(1) {
      z-index: 10;
    }
    &:nth-child(2) {
      z-index: 9;
    }
    &:nth-child(3) {
      z-index: 8;
    }
    &:nth-child(4) {
      z-index: 7;
    }
    &:nth-child(5) {
      z-index: 6;
    }
    &:nth-child(6) {
      z-index: 5;
    }
  }

  &__table {
    border: 1px solid @border-gray;
    padding: 25px;
  }

  &__table-th {
    font-size: 1.1rem;
  }
  &__cell-mt {
    padding-top: 25px;
    &--brand {
      padding-top: 20px;

    }
    &--count {
      padding-top: 21px;

    }
  }

  &__table-row {
    > div {
      position: relative;
    }
  }

  &__item-hr {
    border-top: 1px solid @border-gray;
    margin: 15px 0;
  }

  &__alert {
    margin: 10px auto;
    display: inline-block;
    padding: 4px 15px;
    font-size: 0.8rem;
    border: 1px solid @background-red;
    border-radius: 5px;
    span {
      color: @text-red;
    }
  }

  &__item-img {
    max-height: 90px;
  }
  &__item-art {
    font-size: 0.8rem;
    margin-top: 7px;
  }
  &__item-price {

    white-space: nowrap;
    font-size: 1.5rem;
  }

  &__item-count {
    padding: 5px 10px;
    border: 1px solid @border-gray;
    border-radius: 2px;
    font-size: .9rem;
    max-width: 100%;
    box-sizing: border-box;

  }

  &__remove {
    font-size: 1.3rem;
    &--small {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 1.7rem;
      opacity: .9;
    }
  }

  &__btn-cont {
    padding-top: 10px;
    padding-bottom: 5px;

  }
  &__btn {
    margin: 5px 0;
  }


  /* Accept order */
  &__order {
    margin-top: 35px;
  }
  &__order-group {
    border: 1px solid @border-gray;
    padding: 0 35px 20px 35px;
    height: 100%;


    .form__group {
      margin: 10px 0 25px;
    }

  }
  &__order-title {
    font-size: 1.15rem;
    &--first {
      display: inline-block;
      position: relative;
      top: -11px;
      right: 5px;
      margin-bottom: -11px;
      padding-left: 5px;
      padding-right: 5px;
      background: #fff;
    }

    &--mt {
      margin-top: 30px;
    }
    &--mt-s {
      margin-top: 15px;
    }
    &--small {
      font-size: .85rem;
      font-weight: 500;

    }

  }


  &__deliv-label {
    display: block;
    margin: 5px 0 5px !important;
    &--small-text {

      font-size: .85rem;

    }
  }

  &__accept-cont {
    font-size: .85rem;

    input {
      margin-right: 7px;
    }
  }



  &__info-row {
    padding: 15px 0;
    border-bottom: 1px solid @border-gray;
  }
  &__info-price {
    float: right;
    color: @text-red;
    font-size: 1.3rem;
  }
  &__info-title {
    font-size: .85rem;
  }
  &__info-comment {
    margin: 7px 0;
    height: 95px;
  }
  &__spec-cont {
    margin-top: 15px;

  }
  &__spec {
    font-size: 1.1rem;
    font-weight: 300;
    color: @text-black;
    text-decoration: underline;
    &:hover {
      color: @text-light-blue;
    }
  }

}


@media (max-width: 767px) {
  .cart__order-grid > div:not(:nth-child(1)) {
    margin-top: 45px;
  }
}


@media (max-width: 399px) {
  .cart__nav-btn {
    font-size: .7rem;
  }
}
